FORM A 

<input type="text" ng-model="objeto.nombre" ng-blur="funcionBlur();">

<input type="text" ng-model="objeto.apellido" ng-keyup="funcionPress()">

<p>{{objeto}}</p>

<h2>{{ objeto.nombre + " " + objeto.apellido }}</h2>

<button style="background: {{objeto.nombre}};" ng-click="funcionClick('Hola')">{{objeto.nombre}}</button>
<button ng-click="funcionClick('Chao');">BOTON 2</button>

<div ng-repeat="objeto in lista | orderBy: ['-nombre','-id']">
	<span>{{objeto.id}}</span>
	<p>{{objeto.nombre}}</p>
	<button ng-if="objeto.activo">DESACTIVAR</button>
</div>
