<div>
    <div>
        <div ng-repeat="persona in listaPersonas" ng-style="{'background': listaColores[$index]}" ng-class="{ 'mayor' : metodoMayor(persona) }">
            <p>{{$index}}</p>
            Nombre: <span>{{ persona.nombre }}</span>
            Apellido: <span>{{ persona.apellido }}</span>
            Edad: <span>{{ persona.edad }}</span>
            <br>
            <p>----------------------------------------</p>
        </div>
    </div>

    <input type="checkbox" ng-model="check">check</input>
    {{check}}
    <input type="checkbox" ng-model="checkb">checkb</input>
    {{checkb}}
    <!-- <p ng-style="{'color': varColor}">Hola</p> -->
    <!-- <p ng-style="{'color': check ? 'red' : 'black'}">Hola</p> -->
  <!--   <p ng-style="(check && {'border':'1px solid #A4A4A4'})">Hola</p> -->
 <!--    <p ng-style="((check && {'color':'blue'}) || (checkb && {'border':'2px solid red'}))">Hola</p> -->
    <!-- <p ng-class="check ? 'texto-rojo-bold':'texto-azul-light'">Hola</p> -->
    <!-- <p ng-class="varEstilo">Hola</p> -->
    <!-- <p ng-class="{'texto-rojo-bold': check, 'borde-rojo': check && checkb}">Hola</p> -->

    <div ng-repeat="item in lista">
        <!-- <p ng-style="{'color': ($index%2==0) ? 'blue' : 'red'}">{{item}}</p> -->
         <p ng-class="($index%2==0) ? 'texto-rojo-bold' : 'borde-rojo'">{{item}}</p>
    </div>

    <!-- <p ng-class="pintarTexto(check)">Llamando funcion pintarTexto</p> -->
</div>