<div>
    <div class="principal">
        <h1>MODULO MAIN</h1>    
        <ul>
            <li ng-repeat="item in listaNumeros">{{item}}</li>
        </ul>
    </div>
    <div class="principal">
        <h1>MODULO MAIN</h1>
        <ul>
            <li ng-repeat="item in listaColores">{{item}}</li>
        </ul>
    </div>
    <div class="principal">
        <h1>MODULO MAIN</h1>
        <ul>
            <li ng-repeat="item in $root.frutas">{{item}}</li>
        </ul>
    </div>
    <button ng-click="mostrarOcultar()">{{textoBoton}}</button>
</div>
