<link rel="stylesheet" type="text/css" href="../../modules/commons/components/menubar/MenubarStyle.css">
<nav>
    <div class="btn-group" uib-dropdown is-open="menu.maintainers">
        <div class="btn btn-default" id="single-button" type="button" uib-dropdown-toggle ng-disabled="disabled">
            <span>Mantenedores</span> <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <ul class="drop-content" uib-dropdown-menu role="menu" aria-labelledby="single-button">
<!-- INICIO - ITEM MENU MANTENEDORES -->
<!-- FIN - ITEM MENU MANTENEDORES --> <!-- NO BORRAR NUNCA ESTA LINEA -->
        </ul>
    </div>
</nav>
